<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.android.codelabs.paging">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.android.codelabs.paging.ui.ActivityOne"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.android.codelabs.paging.ui.ActivityTwo"
            android:exported="false">
        </activity>
        <activity
            android:name="com.example.android.codelabs.paging.ui.ActivityThree"
            android:launchMode="singleTask"
            android:exported="true">
        </activity>
        <activity
            android:name="com.example.android.codelabs.paging.ui.ActivityFour"
            android:launchMode="singleInstance"
            android:exported="true">
        </activity>
        <activity
            android:name="com.example.android.codelabs.paging.ui.ActivityFive"
            android:launchMode="singleTop"
            android:exported="true">
        </activity>
        <activity
            android:name="com.example.android.codelabs.paging.ui.ActivitySix"
            android:label="My pack new Label"
            android:launchMode="singleTask"
            android:allowTaskReparenting="true"
            android:taskAffinity="com.example.feature_payment.payments.payment_by_bank_details"
            android:exported="true">
        </activity>

        <service
            android:name=".ui.RSSPullService"
            android:exported="false"/>
    </application>

</manifest>
